%nav
  .top-bar
    .top-bar-title
      %span{ "data-hide-for" => "large", "data-responsive-toggle" => "responsive-menu" }
        .top-bar-left
          .pb-color
            = link_to "POST /bank/hackathon/certificates", "/index.html"
        .menu-icon.float-right{ "data-toggle" => "" }

    #responsive-menu.responsive-menu.hide-for-large

      .show-for-small
        .row
          .small-12.columns
            %ul.menu.align-to-right

    .show-for-large
      .row
        .large-2.columns
          .pb-color
        .large-8.columns
          %ul.menu
        .large-2.columns
          .nav-logo
            = link_to image_tag("pb_logo.jpg"), "/index.html"
