// override from Foundation
$topbar-link-color: rgba(255,255,255,0.8);
$topbar-background: rgba(0,0,0,0.8);

$tab-background: transparent;
$tab-background-active: transparent;
$tab-border: none;
$tab-content-background: transparent;
$tab-content-border: none;
$tab-item-background-hover: transparent;

$table-background: transparent;
$table-border: transparent;
$table-padding: 0px;