@import 'colors';

@import 'foundation_import';
  @include foundation-everything;
  @include foundation-flex-grid;

@import 'general';
@import  'navbar.sass';

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

// Modifier class for 16:9 aspect ratio
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

// Modifier class for 4:3 aspect ratio
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.main {
  padding: 70px;
  color: black;
  text-align: center;
  float: right;
  width: 50%;
  background: #f3f5f8;
}

.main-show {
  padding: 70px;
  color: black;
  text-align: center;
  width: 100%;
  background: #f3f5f8;
  height: 100%;
}

.inner-show {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 600px;
  margin: 50px auto 20px auto;
}

.emo_image {
  width: 50%;
  float: left;
  height: 100%;
  background-image: image-url("22558.png");
  background-position: center;
  background-size: cover;
}

.btn-blue {
  padding: 10px;
  border-radius: 5px;
  background: #0a3478;
  color: #fff;
}

h1 {
  font-size: 25pt
}